/************************************
** 広告
************************************/
.ad-area{
  //@extend %bottom_margin;
  //margin: 24px 0;
  text-align: center;
  margin-bottom: 1.8em;
  overflow:hidden;
}

.entry-content .ad-area{
  margin: 1em 0;
}

.ad-label-invisible{
  .ad-label{
    display: none;
  }
}

.ad-content-top{
  margin-top: 1em;
}

.ad-responsive{
  ins{
    width: 100%;
  }
}

.ad-single-rectangle,
.ad-dabble-rectangle{
  .ad-responsive{
    max-width: 336px;
    margin: auto;
  }
}

/************************************
** ダブルレクタングル
************************************/
.ad-dabble-rectangle{
  .ad-wrap{
    display: flex;
  }

  .ad-responsive{
    width: 336px;
  }
}

/************************************
** 記事内広告
************************************/
// .ad-rectangle,
// .ad-fluid{
//   .ad-responsive{
//     height: 280px;
//     width: 800px;
//     //max-width: 800px;
//   }
// }

//692px以下
@media screen and (max-width: 692px){
  .ad-dabble-rectangle{
    .ad-responsive{
      width: 300px;
    }
  }
}

//626px以下
@media screen and (max-width: 626px){
  .ad-dabble-rectangle{
    .ad-responsive{
      width: 250px;
    }
  }
}

//556px以下
@media screen and (max-width: 556px){
  .ad-dabble-rectangle{
    .ad-wrap{
      display: block;
    }
    .ad-responsive{
      width: auto;
      max-width: none;
      margin: auto;
    }
    .ad-additional-double{
      display: none;
    }
  }
}

/************************************
** サイドバーのダブルレクタングル
************************************/
.sidebar{
  .ad-additional-double{
    display: none;
  }
}

/************************************
** サイドバーのスカイスクレイパー
************************************/
.sidebar{
  .ad-additional-vertical{
    display: none;
  }
}

//768px以下
@media screen and (max-width: 768px){
  .sidebar{
    .ad-vertical{
      .ad-usual{
        display: none;
      }

      .ad-additional-vertical{
        display: block;
      }
    }
  }
}
