/*Cocoon用記事ボックス*/
.entrycard-wrap {
  &.a-wrap {
    position: relative;
    padding: 5px 3px;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .entrycard-box {
    padding: 4px;
    background-color: $white;
  }
}

.entrycard1 {
  &:first-of-type {
    padding-bottom: 2px;
    border-top: 2px solid $xx_thin;
    border-bottom: 2px dotted $xx_thin;
  }
  padding-bottom: 2px;
  border-bottom: 2px dotted $xx_thin;
  &:last-of-type {
    padding-bottom: 2px;
    border-bottom: 2px solid $xx_thin;
  }
}

.entrycard2 .entrycard-box {
  border-radius: 5px;
  border: 1px solid $thin;
}

.entrycard-wrap {
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 20px;
    width: 6px;
    height: 6px;
    border-top: solid 2px #697b91;
    border-right: solid 2px #697b91;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -3px;
  }
  .entrycard-thumb {
    float: left;
    margin: 6px 10px;
    width: 120px;
  }
  .entrycard-title {
    margin: 2px 24px 6px 140px;
    font-size: 0.9em;
    color: $text_color;
    font-weight: 700;
  }
  .entrycard-text {
    margin: 0px 24px 2px 140px;
    font-size: 0.7em;
    color: $pallid_text_color;
  }
}

/* リボン部分 */
/*  リボンCSSはnxworld様のページの斜めリボンを改変して利用。
多くのカスタマイズを公開していらっしゃるので 「リボン css nxworld」などgoogle検索すると便利。
Copyright (c)
https://www.nxworld.net/tips/pure-css-corner-ribbon.html
https://codepen.io/nxworld/pen/oLdoWb
*/

.ribbon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  &:before, &:after {
    position: absolute;
    z-index: 0;
    content: '';
    display: block;
    border: 4px solid #224963;
  }
  span {
    position: absolute;
    display: block;
    width: 185px;
    padding: 5px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: $white;
    font: 700 11px/1 'Lato',sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
  }
}

.ribboncolor1 span {
  background-color: #ea7e7e;
}

.ribboncolor2 span {
  background-color: #7e95ea;
}

/* top left*/
.ribbon-top-left {
  top: -1px;
  left: -5px;
  &::before, &::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  &:before {
    top: -1px;
    right: 4px;
  }
  &::after {
    bottom: 4px;
    left: 1px;
  }
  span {
    right: -45px;
    top: 18px;
    transform: rotate(-45deg);
  }
}
