/************************************
** マルチページのページャーリンク
************************************/
.pager-links{
  @include pagination_wrap;
  // display: inline-flex;
  // justify-content: center;
  // width: 100%;

  .post-page-numbers{
    background-color: transparent;
  }

  span{
    background-color: $current_bgc;
  }

  a{
    display: inline-block;

    span{
      background-color: $white;
    }

    &:hover span {
      @include bgc_hover;
    }
  }

  // span{
  //   @include pagination_button;
  // }

}

.pager-prev-next{
  a{
    width: 30%;
    margin: 0 4px;
  }
  span{
    width: 100%;
    margin: 0;
  }
}
