// //1240px以下
// @media screen and (max-width: 1240px){
//   @import "max-width-1240";
// }

//1023px以下
@media screen and (max-width: 1023px){
  @import "max-width-1023";
}

//768px以下
@media screen and (max-width: 768px){
  @import "max-width-768";
}

//599px以下
@media screen and (max-width: 599px){
  @import "max-width-599";
}

//480px以下
@media screen and (max-width: 480px){
  @import "max-width-480";
}

//356px以下
@media screen and (max-width: 356px){
  @import "max-width-356";
}
