///////////////////////////////////////
// カラム
///////////////////////////////////////
.column-wrap{
  flex-direction: column;
  .column-left,
  .column-right{
    width: 100%;
    padding: 1em 0;
  }
}
